<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>

<body>
<div th:fragment="footer">

    <div class="container">
        <footer class="footer">
            <select id="locales">
                <option value=""></option>
                <option value="en" th:text="#{lang.eng}"></option>
                <option value="et" th:text="#{lang.et}"></option>
                <option value="de" th:text="#{lang.de}"></option>
                <option value="ru" th:text="#{lang.ru}"></option>
            </select>

            <div class="footer-copyright">
                <a th:text="#{footer.copyright}"></a>
            </div>
            <div class="footer-user">
                <a th:text="#{user.admin}"></a>
            </div>
        </footer>
    </div>
</div>
</body>
</html>