<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:fragment="footer-css">
        <link rel="stylesheet" th:href="@{/css/footer.css}"
              href="../../static/css/footer.css" />
    </div>
</head>

<body>
<div th:fragment="footer">
    <footer class="footer">
        <div class="footer-inside">
            <div class="footer-user">
                <a th:text="#{user.admin}"></a>
            </div>

            <div class="footer-copyright">
                <a th:text="#{footer.copyright}"></a>
            </div>
        </div>
    </footer>
</div>
</body>
</html>