<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:fragment="header-main">
        <meta charset="UTF-8">
    </div>

    <div th:fragment="header-css">
        <link rel="stylesheet" th:href="@{/css/header.css}"
              href="../../static/css/header.css" />
    </div>
</head>

<body>
    <div class="navbar" th:fragment="header">
        <div class="container">
            <!--Header-->
            <div class="navbar-header">
                <a class="navbar-logo" th:text="#{navbar.title}"></a>
            </div>

            <!--Body-->
            <div class="navbar-body">
                <!--Left side-->
                <ul class="navbar-nav">
                    <li th:classappend="${#httpServletRequest.getRequestURI() == '/' or #httpServletRequest.getRequestURI() == '/home' ? 'active' : ''}">
                        <a th:text="#{navbar.home}" href="#" th:href="@{/}"></a>
                    </li>
                    <li th:classappend="${#httpServletRequest.getRequestURI() == '/me' ? 'active' : ''}">
                        <a th:text="#{navbar.profile}" href="/me" th:href="@{/me}"></a>
                    </li>
                </ul>

                <!--Right side-->
                <ul class="navbar-nav navbar-right">
                    <li th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'active' : ''}">
                        <a th:text="#{navbar.signin}" href="/login" th:href="@{/login}"></a>
                    </li>
                    <li th:classappend="${#httpServletRequest.getRequestURI() == '/register' ? 'active' : ''}">
                        <a th:text="#{navbar.signup}" href="/register" th:href="@{/register}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>