<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <title>Test</title>

    <!--Meta-->
    <div th:replace="fragments/header :: header-main"></div>

    <!--CSS-->
    <div th:replace="fragments/header :: header-css"></div>
    <div th:replace="fragments/footer :: footer-css"></div>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="/static/css/main.css">


</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="body">
    <div class="news">
        <div class="news-header">
            <div class="news-menu-create">
                <a th:text="#{post.menu.create}" id="newPostBut" class="post.menu.create.but"
                   href="#" th:href="@{/news/create}" th:method="post"></a>
            </div>
            <div class="news-menu-create-text" id="newPostList" hidden>
                <ul id="newsList">
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="news-body">
            <div class="news-body-list">

            </div>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>

<!--Scripts-->
<div th:replace="fragments/header :: header-scripts"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script type="application/javascript">
    $(document).ready(function () {
        var createBut = $("#newPostBut");
        var postField = $("#newPostField");

        createBut.click(function () {
            // createBut.hide();
            postField.show();
        });

        function hideCreateButton(){
            createBut.hide();
        }

        function showCreateButton() {
            createBut.show();
        }
    });
</script>
</body>
</html>