<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <title>Test</title>

    <!--Meta-->
    <div th:replace="fragments/header :: header-main"></div>

    <!--CSS-->
    <div th:replace="fragments/header :: header-css"></div>
    <div th:replace="fragments/footer :: footer-css"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

</div>

<div th:replace="fragments/footer :: footer"></div>

<div th:replace="fragments/header :: header-scripts"></div>

</body>
</html>